.search-results__title {
    margin: 15px 0px;
}

.MuiChip-root.search-results__section-title {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 10px 0px;
    font-size: 16px;
    color: #000a12;
}
