.MuiSvgIcon-root.sendIcon {
    font-size: 25px;
}

.sendIconContainer {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 50px;
}

.sendMessageBox {
    width: 90%;
    margin-left: 20px;
}

.sendMessageContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}