/* Styles for the Landing React component */
.backgroundImage {
  height: 550px;
  background-image: url("../../resources/toronto.jpg");
}

.mainTitle {
  margin-top: 0px;
  margin-left: 50px;
  padding-top: 150px;
  font-size: 40px;
  color: white;
}

.bottomBar {
  height: 200px;
  background-color: #213238;
}
