/* Styles for the Landing React component */
.backgroundImage {
  height: 70vh;
  background-image: url("../../resources/high-park.jpg");
  max-width: 100%;
  background-size: cover;
}

.mainTitle {
  margin-top: 0px;
  margin-left: 50px;
  padding-top: 53vh;
  font-size: 46px;
  color: white;
}

.mainTitle--small {
  font-size: 40px;
}

.bottomBar {
  display: flex;
  height: 200px;
  margin-top: 50px;
  background-color: #213238;
}

.space {
  margin-left: 50px;
}
