.MuiTextField-root.long {
  width: 100%;
}

.MuiTextField-root.marginTop {
  margin-top: 30px;
}

.MuiTextField-root.marginRight {
  margin-right: 1%;
}

.MuiTextField-root.marginLeft {
  margin-left: 1%;
}

.half {
  width: 49%;
}

.MuiButton-root.marginTop {
  margin-top: 30px;
}

.MuiButton-root.marginRight {
  margin-right: 2%;
}

.wide {
  width: 500px;
}

.red {
  color: red;
}
