.new-post__container {
    margin: 20px;
}

.new-post__input {
    margin: 20px 5px;
}

.new-post__input.new-post__select {
    display: inline-block;
    margin: 20px 20px 5px 0px;
    margin-right: 20px;
    min-width: 142px;
}

.new-post__input-label {
    margin-right: 14px;
}

.MuiButton-root.new-post__back-btn {
    margin: 10px 0px 15px;
}

.MuiButton-root.new-post__create-post-btn {
    margin-top: 40px;
}