.reportDialog__dialog {
    position: fixed;
    width: 500px;
    height: fit-content;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.reportDialog__title {
    margin-top: 20px;
    margin-left: 20px;
}

.MuiButton-root.reportDialog__button, .MuiButton-root.reportDialog__report-button {
    float: right;
    margin: 15px 20px 15px 0px;
}

.MuiButton-root.reportDialog__report-button {
    color: crimson;
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.MuiButton-root.reportDialog__report-button:hover {
    border: 1px solid red;
}