.inboxScreen {
    display: flex;
    margin-top: 1%;
    height: 85vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.messagesScreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin: 3px;
    padding: 5px;
}

.noMessageText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.messageScreenMessages {
    height: 85%;
    display: flex;
    flex-direction: column;
    padding:5px;
    overflow-y: auto;
    margin: 3px;
}

.messageScreenSendMessage {
    height: 10%;
    margin: 3px;
}

.messageTopBar {
    height: 5%;
    width: 100%;
}

.sideBar {
    width: 30%;
    height: 100%;
    padding: 5px;
    margin: 3px;
    overflow-y: auto;
}

.MuiPaper-root.sideBar {
    background-color: rgb(255, 255, 255, 0.70);
}