.post-preview {
    margin: 10px 25%
}

.post-preview__left-block {
    float: left;
}

.post-preview__right-block {
    float: right;
}

.post-preview__poster {
    color: grey;
    font-size: 12px;
    margin: 5px;
}

.post-preview__title {
    font-weight: bold;
    margin: 5px;
}

.post-preview__type {
    margin: 15px 5px 15px 5px
}
