/* Styles for the LandingBottom React component */
.bottomTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 85px;
  color: white;
}

.bottomMainText {
  margin-top: 5px;
  margin-left: 85px;
  margin-bottom: 5px;
  color: white;
}
