.MuiCard-root.post-list__header-card {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px;
    font-size: 16px;
    color: #000a12;
    width: 100%
}

.post-list__header-card-content {
    margin: 0px 10px;
}

.post-list__location-card-content {
    margin: 15px 15px;
}

.post-list--center {
    display: flex;
    align-items: center;
    justify-content: center
}

.MuiAutocomplete-root {
    width: 70px;
}

.MuiSvgIcon-root.post-list__location-icon {
    float: left;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.post-list__selector {
    float: left;
    padding-top: 4px;
}

.post-list__header-label {
    float: left;
    margin: 10px 10px;
}

.MuiButtonGroup-root.post-list__filter-btn-group {
    margin: 7px 0px;
    width: 100%;
}

.MuiButton-root.post-list__filter-btn {
    background-color: rgb(255, 255, 255, 0.6);
    margin-bottom: 7px;
    width: 33%;
}

.MuiButton-root.post-list__filter-btn:hover {
    background-color: rgb(255, 255, 255);
}

.MuiButton-root.post-list__filter-btn--selected {
    background-color: rgb(255, 255, 255);
}

.post-list__container {
    display: flex;
    flex-direction: column;
}

.padding-right {
    padding-right: 10px;
}

.post-list__underline:after {
    position: relative;
    top: 8px;
    height: 1px;
    background: lightgrey;
    content: "";
    width: 100%;
    display: block;
}

.post-list__ul {
    list-style: none;
    padding: 0px 0px;
    margin-bottom: 0px;
    display: block;
}