.home__middle-block {
    padding: 10px 25%;
    width: 50%;
    display: inline-block;
}

.MuiButton-root.home__create-post-btn {
    margin: 10px 0px 25px;
    font-size: 15px;
}

.home__create-post-btn-icon {
    margin-right: 7px;
}

.home__footer {
    height: 80px;
}