p.messageText {
    margin: 12px;
}

.messageContainerLeftMessage{
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #cdd4da;
    border-radius: 15px;
    margin-right: 25%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageContainerRightMessage {
    color: white;
    background-color: #2389e9;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MuiSvgIcon-root.reportButton {
    transition: 0.3s;
    margin-left: 10px; 
    color: #4f5b6288;
}

.MuiSvgIcon-root.reportButton:hover {
    color: #4f5b62be;
}