.post__card {
    margin: 10px 0px;
    padding: 0px 5px;
    display: inline-block;
}

.post__block {
    width: 97%;
    padding: 10px;
    display: inline-block;
}

.post__body {
    margin: 5px;
}

.post__footer {
    text-align: center;
}

.post__send-msg-btn {
    display: inline-block;
}

.MuiButton-root.post__send-msg-btn {
    margin-left: 10px;
}

.MuiIconButton-sizeSmall.post__report-btn {
    float: right;
    margin-right: 5px;
}

.MuiIconButton-sizeSmall.post__remove-post-btn {
    margin-right: 5px;
    float: right;
}

.post__left-block {
    float: left;
}

.post__right-block {
    float: right;
}

.post__poster {
    color: grey;
    font-size: 12px;
    margin: 5px;
}

.post__title {
    font-weight: bold;
    margin: 5px;
}

.MuiChip-root {
    margin: 0px 5px;
}

.MuiChip-root.post__type-request {
    background-color: lavender;
}

.MuiChip-root.post__type-offer {
    background-color: #dff5e5;
}

.MuiSvgIcon-root.post__distance-icon {
    margin-left: 8px;
    font-size: 16px;
}