.user__card {
    margin: 10px 0px;
    margin-right: 10px;
    min-width: 200px;
    display: inline-block;
}

.user__block {
    width: 97%;
    padding: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.user__left-block {
    float: left;
    position: relative;
}

.user__right-block {
    margin-top: 3px;
    float: left;
}

.user__name {
    font-weight: bold;
    margin: 5px;
}

.user__username {
    color: grey;
    font-size: 12px;
    margin: 5px;
}

.MuiIconButton-root.user__icon-button {
    padding: 0px;
    transform: scale(0.8);
}

.user__icon {
    size: inherit;
    border-radius: 50%;
}