.link {
    text-decoration: none;
}

.adminHome {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
}

.adminHome__table {
    height: calc(100% - 20px);
    max-width: 300px;
    min-width: 250px;
    margin: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.adminHome__data {
    height: 100%;
    max-width: 500px;
    min-width: 300px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.adminHome__list {
    height: calc(100% - 20px);
    max-width: 300px;
    min-width: 250px;
    margin: 10px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.adminHome__user-detail, .adminHome__reported-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    flex-grow: 1;
}

.adminHome__chip-active, .adminHome__chip-banned, .adminHome__chip-reported {
    pointer-events: none;
}

.MuiChip-root.adminHome__chip-active {
    color: green;
    background-color: palegreen;
}

.MuiChip-root.adminHome__chip-banned {
    color: red;
    background-color: mistyrose;
}

.MuiChip-root.adminHome__chip-reported {
    color: orangered;
    background-color: bisque;
}

.adminHome__icon {
    position: absolute;
    border-style: solid;
    margin: 10px 0px 10px 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    margin: 10px 20px 10px 20px;
    font-size: large;
}

h2 {
    margin: 10px 20px 10px 20px;
    font-size: medium;
}

.adminHome__label-bold {
    font-size: medium;
    margin-right: 10px;
    font-weight: bold;
}

.adminHome__label {
    margin: 5px 20px 5px 20px;
    display: block;
}

.adminHome__scroll {
    flex-grow: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.adminHome__reported-panel .adminHome__scroll {
    margin-bottom: 60px;
}

.adminHome__user-detail-text {
    margin-left: 130px;
    margin-bottom: 10px;
}

.adminHome__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adminHome__reported-panel .adminHome__ban-button,.adminHome__reported-panel .adminHome__unban-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.adminHome__reported-panel .adminHome__ban-button {
    color: crimson;
}

.adminHome__reported-panel .adminHome__unban-button {
    color: darkblue;
}

.adminHome__delete-button {
    margin: 10px !important;
}

.adminHome .adminHome__logout-button {
    position: absolute;
    right: 20px;
    top: 10px;
}