body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Muli', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-pointer {
  cursor: pointer;
  transition: 0.3s;
}

.hover-pointer:hover {
  color: black;
}

.MuiCard-root.MuiPaper-elevation1 {
  box-shadow: none;
}

.MuiChip-root.null-state-label {
  margin: 0px 0px;
  background-color: rgba(255, 255, 255);
  font-size: 16px;
  color: #000a12;
  width: 100%
}

.float-right {
  float: right;
}